[submodule "code/python/project1_boptest_gym"]
	path = code/python/project1_boptest_gym
	url = https://github.com/mariuseb/project1_boptest_gym.git
[submodule "code/cplusplus/ocp_cpp"]
	path = code/cplusplus/ocp_cpp
	url = https://github.com/mariuseb/ocp_cpp.git
[submodule "docker/boptest"]
	path = docker/boptest
	url = https://github.com/mariuseb/project1-boptest.git
[submodule "code/python/ocp"]
	path = code/python/ocp
	url = https://github.com/mariuseb/ocp.git
	branch = mhe_separation_work
[submodule "docker/project1-boptest"]
	path = docker/project1-boptest
	url = https://github.com/mariuseb/project1-boptest.git
